name: check-todoist

on:
  push:
    branches: [ '*' ]
  schedule:
    - cron:  '0 */2 * * *'

jobs:
  check-todoist:
    environment: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
    - run: npm ci
    - run: npm run sync
      env:
        TODOIST_API_KEY: ${{secrets.TODOIST_API_KEY}}
        AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
        AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
        AWS_REGION: "us-east-1"
